[submodule "template/android-libgdx"]
	path = template/android-libgdx
	url = http://github.com/ashes999/libgdx-ruboto.git
[submodule "3rdparty/mrubymix"]
	path = 3rdparty/mrubymix
	url = https://github.com/xxuejie/mrubymix
