[submodule "3rdparty/mrubymix"]
	path = 3rdparty/mrubymix
	url = https://github.com/xxuejie/mrubymix
[submodule "3rdparty/webruby"]
	path = 3rdparty/webruby
	url = https://github.com/xxuejie/webruby
[submodule "3rdparty/mruby"]
	path = 3rdparty/mruby
	url = https://github.com/mruby/mruby
